<section class="hero">
  <div class="container-xxl bg-white p-4" style="margin-bottom: -150px;">
      <div class="hero__content flow" >
<li>
      <article class="snippet" >
  <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="snippet__image">
  <h3 class="snippet__title"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
  <p class="snippet__meta" style="font-size: 18px;">by <span style="font-size: 18px;"> {{post.data.author}}<span style="font-size: 18px;"> on <span style="font-size: 18px;">{{ post.date | postDate }} </span> </p>
  <a href="{{ post.url }}" class="btn btn--primary"> Continue Reading </a>
  <p class="snippet__body" >{{post.data.description}}</p>
</article>

      </li>
      </div>
  </div>
</section>