        <!-- Header End -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <header class="page-header container-fluid py-1 ">
            <div class="header_page_parent">
                <div class="margin_header">
                    <h1 class="exhibit-text display-1 animated slideInDown text-uppercase" style="font-weight: 800;">Blog</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb headertext text-uppercase animated slideInDown">
                            <li style="padding-left: 5px; padding-right: 5px;"><a class="btnHeader1" style="text-decoration:none;" href="https://filchi-jobfair.netlify.app/blog/">Back</a></li>                        
                          </ol>
                    </nav>
                </div>
                <div class="dateSizeHeader me-5">
                    <img class="dateSizemain img-fluid animated slideInDown" src="https://i.imgur.com/3rDmqI3.png" alt="">
                </div>
            </div>
        </header>
        <!-- Header End -->
