<footer class="" data-wow-delay="0.1s">
 <div class="footer wow fadeIn" data-wow-delay="0.1s" style="font-family: 'Poppins', sans-serif; background-image: linear-gradient(to bottom,#012b5d, #0a1729);">
        <br>
        <br>
        <div class="row" style="margin-right: 10px;">
                
            <div class="col-lg-5 col-md-6" style="margin-top: 20px;" >
                    <span><a class="botlogo  d-flex align-items-center text-center" href="index.html"><img src="https://i.imgur.com/m53okH5.png" style="width: 406px; height:138px;"/></a></span>
                    
                </div>
                <div class="col-lg-3 col-md-6 " style="color: #ffffff; margin-left: 2%; margin-top: 20px;">
                    <h5 class=" mb-4" style="color: #ffffff;font-family: 'Poppins', sans-serif;">Quick Links</h5>
                    <a class="btn btn-link" style="color: #ffffff;" href="index.html">Homed</a>
                    <a class="btn btn-link" style="color: #ffffff;" href="exhibit.html">Exhibit Now</a>
                    <a class="btn btn-link" style="color: #ffffff;" href="visit.html">Visit Us</a>
                    <a class="btn btn-link" style="color: #ffffff;" href="gallery.html">Gallery</a>
                    <a class="btn btn-link" style="color: #ffffff;" href="contact.html">Contact Us</a>
                    <!-- <a class="btn btn-link" style="color: #ffffff;" href="https://filchi-jobfair.netlify.app/" >Blog</a> -->
                </div>
                
                <div class="col-lg-3 col-md-6" style="margin-left: 2%; margin-top: 20px;">
                    <h5 class=" mb-4" style="color: #ffffff; font-family: 'Poppins', sans-serif;">Contact us!</h5>
                    <a href="https://goo.gl/maps/VHg1t4Kerzx7NYrx9" class="footer-link" style="text-decoration:none;">
                        <p class="mb-2" style="color: whitesmoke;">
                            <i class="fa fa-map-marker-alt me-3" style="color: whitesmoke;"></i>
                            5/F, Salustiana D. Ty Tower,<br>
                            &nbsp; &nbsp; &nbsp; &nbsp;104 Paseo De Roxas Avenue,<br>
                            &nbsp; &nbsp; &nbsp; &nbsp;Makati City 1229, Philippines
                        </p>
                    </a>
                    <a href="tel:+639666376696" style="text-decoration:none;">    
                    <p class="mb-2" style="color:#ffffff"><i class="fa fa-phone-alt me-3" style="color:#ffffff "></i>+63 966 637 6696</p></a>
                    <a href="mailto:filchijobfair@flw.ph" style="text-decoration:none;">
                    <p class="mb-2" style="color:#ffffff"><i class="fa fa-envelope me-3" style="color:#ffffff"></i>filchijobfair@flw.ph</p></a>
                    <div class="d-flex pt-2">
                      
                        <a class="btn btn-outline-light btn-social" style="color:#ffffff" href="https://www.facebook.com/filchijobfair?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" style="color:#ffffff" href="https://www.youtube.com/playlist?list=PLIKNmEeC3y6So3zvSMO5aRM_AZunmYuP_"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" style="color:#ffffff" href="https://www.linkedin.com/company/filchijobfair/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social" style="color:#ffffff" href="https://www.instagram.com/filchijobfair/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                

        </div>
        <div >
            <div class="copyright" style="margin-right: 12px;">
                <div class="row"style="color:#ffff">                             
                    <div class="col-lg-5 col-md-6 mb-3 mb-md-0" style="text-align: start; margin: 2% 0;">
                        <a style="color:#ffffff;">All Rights Reserved &#169 2023 <br class="d-md-none"> Philippine Dragon Media Network Corp.</a>
                    </div>
                    <br class="d-md-none">
                    <br class="d-md-none">
                    <div class="col-lg-2 col-md-6  text-md-start mb-3 mb-md-0" style="margin-left: -10px;">
                        
                        <a href="https://www.flw.ph/"> <img class="img-fluid flex-shrink-0 rounded" src="https://i.imgur.com/Srxss0T.png" style="width: 180px; height: 60px;"></a>

                    </div>
                    <div class="col-lg-2 col-md-6 text-md-start mt-2 mb-3 mb-md-0">
                        
                        <a href="https://bossjob.ph/"> <img class="mx-auto flex-shrink-0 rounded" src="https://i.imgur.com/4HEtwhi.png" style="width: 180px; height: auto;"></a>
                    
                    </div>
                    <div class="col-lg-2 col-md-6 ">
                        <br><a style="color:#ffffff; text-decoration:none;" href="privacy.html">Privacy Policy</a>
                    </div>
                        
                    
                </div>
            </div>
        </div>
    </div>
  </body>
</footer>
