        <!-- Header End -->
        <header class="page-header container-fluid py-1 ">
            <div class="header_page_parent">
                <div class="margin_header">
                    <h1 class="exhibit-text display-1 animated slideInDown text-uppercase font-extrabold">Blog</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb headertext text-uppercase animated slideInDown">
                            <li style="padding-left: 5px; padding-right: 5px;"><a class="btnHeader1" href="https://www.filchi-jobfair.com/index.html">Home</a></li>
                            <li style="padding-left: 5px; padding-right: 5px;"><a class="btnHeader1" href="https://www.filchi-jobfair.com/exhibit.html">Exhibit Now</a></li>
                            <li style="padding-left: 5px; padding-right: 5px;"><a class="btnHeader1" href="https://www.filchi-jobfair.com/visit.html">Visit Us</a></li>
                            <li style="padding-left: 5px; padding-right: 5px;"><a class="btnHeader1" href="https://www.filchi-jobfair.com/gallery.html">Gallery</a></li>
                            <li style="padding-left: 5px; padding-right: 5px;"><a class="btnHeader1" href="https://www.filchi-jobfair.com/contact.html">Contact</a></li>
                            <li style="padding-left: 5px; padding-right: 5px; cursor: default;"><a class="btnHeader1 active" aria-current="page">Blog</a></li>
                            <!-- <li style="padding-left: 5px; padding-right: 5px;"><a class="btnHeader1" href="https://filchi-jobfair.netlify.app/">Blog</a></li>                         -->
                        </ol>
                    </nav>
                </div>
                <div class="dateSizeHeader me-5">
                    <img class="dateSizemain img-fluid animated slideInDown" src="https://i.imgur.com/3rDmqI3.png" alt="">
                </div>
            </div>
        </header>
        <!-- Header End -->
